body{
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
}

h1{
	font-style: italic;
	font-size: xx-large;
}

h2{
	padding: 10px 0px 0px 0px;
	font-size: x-large;
}

h3{
	padding: 10px 0px 0px 0px;
	font-size: large;
}

p{
	padding: 10px 0px 0px 0px;
}

ul{
	padding: 10px 0px 0px 0px;
}

a{
	color: red;
	text-decoration: none;
}

a:visited{
	color: pink;
}

a:hover{
	text-decoration: underline;
}

h1, h2, h3, h4{
	font-family: 'Ubuntu', sans-serif;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container{
	max-width: 855px;
	margin: auto;
}

header{
	padding: 20px 0px 20px 0px;
	border: 1px solid red;
	background: white;
	overflow: auto;
}

header h1{
	float: left;
	width: 570px;
}

header nav{
	float:right;
	width: 285px;
}

main{
	padding: 20px 0 20px 0;
	background: white;
	overflow: auto;
}

main .r_content{
	float: left;
	width: 570px;
}

main .l_content{
	float: right;
	width: 285px;
}

footer{
	overflow: auto;
}

footer .contact{
	float: left;
	width: 570px;
}

footer .sitemap{
	float: right;
	width: 285px;
}
