*{
	margin: 0;
	padding: 0;
}

.comments p:nth-child(even){
	border-radius: 5px;
	background: lavender;
}

.comments p:nth-child(odd){
	border-radius: 5px;
	backgroud: gainsboro;
}

.tabs a span{
	display: inline-block;
	border-radius: 5px 5px 0 0;
	width: 100px;
	margin-right: 10px;
	text-align: center;
	background: #ddd;
	padding: 5px;
}

.tabs a span.active{
	background: #eee;
}
